@charset "UTF-8";

body, html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#home {
    background: #ffc107;
    color: #fff;
}

.box {
    padding: 60px 0px;
    border-bottom: 2px solid #e5e5e5;
}

/* E-small devices (small cell phones, 400px and up)*/
@media (min-width:360px) and (max-width: 576px) {
    #Home .display-4 {
        font-size: 2.2em;
    }

    #Home p {
        font-size: 0.8em;
    }

    form .input-group  {
        font-size: 2em;
        width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and  (max-width: 768px) {
    #Home .display-4 {
        font-size: 2.8em;
    }

    #Home p {
        font-size: 1.1em;
    }

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) { 
    #home h1 {
        font-size: 0.3em;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1400px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) and (max-width: 2000px) {

 }